@layer reset, base, tokens, recipes, utilities;

@layer base {
  :root {
    @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+Mono:wght@100..900&family=Roboto:wght@100;400;700&display=swap");
    --global-font-body: "Roboto", "Noto Sans JP", sans-serif;
    --global-font-mono: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
    font-feature-settings: "palt";
    letter-spacing: 0.03em;
  }

  :root,
  [data-panda-theme] {
    background-color: var(--colors-sd-system-color-component-surface);
    color: var(--colors-sd-system-color-component-on-surface);
  }

  /* Storybook Docs 内のストーリー表示領域 */
  .docs-story {
    background-color: var(--colors-sd-system-color-component-surface);
  }
}
